@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  /* couleurs */
  --orange: #FF6B00;
  --black: #302B2D;
  --brown: #8F5600;
  --grey: #C4C4C4;
  /* j'ai ajouté la couleur white*/
  --white: #FFFFFF;
  /* background */
  --bg-white: #FCFAF6;
  --bg-grey: #302B2D;
  /* weight */
  --bold: 700;
  --medium: 350;
  --light: 300;
  /* border height*/
  --borderbig: 4px;
  --borderlight: 1px;
  --police: "Alright Sans Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --policebold: "Alright Sans Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@font-face {
  font-family: "Alright Sans Bold";
  src: url("AlrightSans-Bold.6697fc97.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Alright Sans Light";
  src: url("AlrightSans-Light.741a06bd.woff2") format("woff2");
  font-display: swap;
}
html {
  font-size: 62.5%;
}

body {
  font-family: var(--police);
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: minmax(320px, 1fr) minmax(50vw, 2fr);
  overflow-x: hidden;
}

h1 {
  color: var(--black);
  text-transform: uppercase;
  font-family: var(--policebold);
  font-size: 4.8rem;
}

h2, h3, h4 {
  color: var(--orange);
  text-transform: uppercase;
  font-family: var(--policebold);
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.4rem;
}

p {
  font-size: 1.8rem;
}

strong {
  font-family: var(--policebold);
}

small {
  color: var(--brown);
  font-size: 1.4rem;
  font-family: var(--policebold);
}

img[round="1"] {
  border-radius: 100%;
  max-height: 260px;
}

main {
  margin: 5rem 0;
}

main[hidden] {
  display: none;
}

main > .switcher + .switcher {
  border-top: 1px solid var(--grey);
}

@media screen and (max-width: 700px) {
  body {
    grid-template-columns: 1fr;
  }
}
.active {
  background-color: var(--orange);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 3rem;
  margin: 0 5rem;
  padding: 5rem 0;
}

.blocks > * + * {
  margin-top: 2rem;
}

.blocks > figure {
  display: flex;
  justify-content: center;
}

.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 0 5rem;
  padding: 5rem 0;
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc(( 530px - 100%) * 999);
  min-width: 45%;
}

.switcher > :nth-last-child(n+5),
.switcher > :nth-last-child(n+5) ~ * {
  flex-basis: 100%;
}

.external-link {
  display: flex;
}

.external-link > img {
  width: 65px;
  height: 65px;
  margin-right: 2rem;
}

.external-link__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.external-link__text a {
  color: var(--black);
  font-family: var(--policebold);
  text-decoration: none;
}

nav {
  position: relative;
}

.main-menu {
  background-color: var(--bg-grey);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-menu ul {
  padding: 0;
  margin: 0;
}

.main-menu li {
  text-align: center;
  font-family: var(--policebold);
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
}

.main-menu a {
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}

.main-menu li a {
  padding: 1rem;
  margin: 1rem;
}

.main-menu li a:hover {
  background-color: var(--orange);
}

.main-menu__logo {
  width: 100%;
  margin: 4rem 0;
}

.main-menu__footer {
  display: flex;
  align-items: flex-end;
  margin-right: 2.5rem;
  margin-top: auto;
}

.main-menu__footer a {
  margin-left: 2.5rem;
}

.mobile-menu {
  display: none;
  background-color: var(--bg-grey);
  justify-content: space-between;
  width: 100%;
  max-height: 7rem;
  padding: 1.2rem;
  position: fixed;
}

[open=""] .mobile-menu {
  background-color: transparent;
  transition: 0.55s 0.55s;
}

.mobile-menu > svg {
  transform: translateY(-0.2rem);
  transition: 0.25s;
}

[open=""] .mobile-menu > svg {
  opacity: 0;
  transition: 0.25s;
}

.mobile-menu button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.mobile-menu .mobile-button__cross {
  display: none;
}

[open=""] .mobile-button__hamburger {
  display: none;
}

[open=""] .mobile-button__cross {
  display: block;
}

@media screen and (max-width: 700px) {
  .main-menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: 0.55s;
    opacity: 0;
    width: 100%;
    padding-top: 6rem;
    min-height: calc(100vh + 12rem);
  }

  .main-menu * {
    opacity: 0;
  }

  .mobile-menu {
    position: fixed;
    display: flex;
  }

  [open=""] .main-menu {
    transform: translateX(0);
    transition: 0.55s;
    opacity: 1;
  }

  [open=""] .main-menu * {
    opacity: 1;
  }
}

/*# sourceMappingURL=index.css.map */