html{
    font-size: 62.5%;
}

body{
    font-family: var(--police);
    font-size: 1.6rem;
}

h1{
    color: var(--black);
    text-transform: uppercase;
    font-family: var(--policebold);
    font-size: 4.8rem;
}

h2, h3, h4{
    color: var(--orange);
    text-transform: uppercase;
    font-family: var(--policebold);
}

h2{
    font-size: 3.6rem;
}
h3{
    font-size: 2.4rem;
}

p{ 
    font-size: 1.8rem;
}

strong{
    font-family: var(--policebold);
}

small{
    color: var(--brown);
    font-size: 1.4rem;
    font-family: var(--policebold);
}

nav {
    background-color: var(--bg-grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

nav ul {
    padding:0;
    margin:0;
}

nav li {
    text-align: center;
    font-family: var(--policebold);
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
}

nav a{
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}

nav li a {
    padding:1rem;
    margin:1rem;

}

nav li a:hover {
    background-color: var(--orange);
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

img[round="1"]{
    border-radius: 100%;
    max-width: 260px;
}

.active{
    background-color: var(--orange);
}

.logo{
    width: 100%;
    margin-top:4rem;
}

.nav-footer {
    display: flex;
    align-items: flex-end;
    margin-right: 2.5rem;
}

.nav-footer a {
    margin-left: 2.5rem

}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap:3rem;
    margin: 0 5rem;
    padding:5rem 0;
}

main > .grid + .grid {
    border-top:1px solid var(--grey);

}

.column {
    grid-column-end: span var(--span);
    align-self: center;
    justify-self: center;
    
}

.blocks > *+* {
    margin-top:2rem;
}

.externallink{
    display: flex;
}