html{
    font-size: 62.5%;
}

body{
    font-family: var(--police);
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: minmax(320px, 1fr) minmax(50vw, 2fr);
    overflow-x: hidden;
}

h1{
    color: var(--black);
    text-transform: uppercase;
    font-family: var(--policebold);
    font-size: 4.8rem;
}

h2, h3, h4{
    color: var(--orange);
    text-transform: uppercase;
    font-family: var(--policebold);
}

h2{
    font-size: 3.6rem;
}
h3{
    font-size: 2.4rem;
}

p{ 
    font-size: 1.8rem;
}

strong{
    font-family: var(--policebold);
}

small{
    color: var(--brown);
    font-size: 1.4rem;
    font-family: var(--policebold);
}

img[round="1"]{
    border-radius: 100%;
    max-height: 260px;
}

main {
    margin: 5rem 0;
}

main[hidden] {
    display: none;
}

main > .switcher + .switcher {
    border-top:1px solid var(--grey);

}


@media screen and (max-width: 700px) {
    body {
        grid-template-columns: 1fr;
    }
}