@font-face {
    font-family: "Alright Sans Bold";
    src: url("../font/AlrightSans-Bold.woff2") format("woff2");
    font-display: swap;
   }
@font-face {
    font-family: "Alright Sans Light";
    src: url("../font/AlrightSans-Light.woff2") format("woff2");
    font-display: swap;
}   
