// REDO THIS FOR ACCESSIBILITY
[aria-current="page"] {
  background-color: var(--orange);
}


.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap:3rem;
  margin: 0 5rem;
  padding:5rem 0;
}



.column {
    grid-column-end: span var(--span);
}

.column {
    display: flex;
    flex-direction: column;
}

.blocks {
  width: 100%;
}

.blocks > *+* {
  margin-top:2rem;
}

.blocks > figure {
  display: flex;
  justify-content: center;
}


@media screen and (max-width:900px) {
  .grid {
    display: flex;
    flex-direction: column;
  }
}
