:root{ 
    /* couleurs */
    --orange: #FF6B00;
    --black: #302B2D;
    --brown: #8F5600;
    --grey: #C4C4C4;

    /* background */
    --bg-white: #FCFAF6;
    --bg-grey: #302B2D;

    /* weight */
    --bold: 700;
    --medium: 350;
    --light: 300;

    /* border height*/
    --borderbig: 4px;
    --borderlight: 1px; 

    --police: "Alright Sans Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --policebold: "Alright Sans Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}