@import "_reset.scss";
@import "_variables.scss";
@import "_fonts.scss";

#firstparagraph {
    color: var(--orange);
}
#secondparagraph {
    color: var(--brown);
}
#thirdparagraph {
    color: var(--black);
}

body{
    font-family: var(--police);
}